.DashBoardContainer {
    width: 100%;
    height: 100%;
    position: relative;
    .DashBoardContainer_Header {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        .DashBoardContainer_Header_Content {
            position: relative;
            color: #fff;
            font-weight: 900;
            font-size: 1.5em;
        }
        .DashBoardContainer_Header_LinkSearch {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0 10px;

            .DashBoardContainer_Header_links {
                position: relative;
                display: flex;
                align-items: center;
                flex-direction: row;
                a {
                    list-style-type: none;
                    text-decoration: none;
                    display: block;
                    color: #fff;
                    padding: 0 12px;
                    font-size: 1.5em;
                    transition: 0.5s;
                    &:hover{
                        color: #3333;
                    }
                }
            }
            .DashBoardContainer_Header_Search {}
        }



    }
}