*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #0c192c;
}
.HomeContainer{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .FormLogin{
        position: relative;
        width: 480px;
        height: 480px;
        background: transparent;
        border: 2px solid rgba(255,255,255,0.8);
        border-radius:20px;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            color: #fff;
            position: relative;
            transform: translateY(-80%);
            font-size: 40px;
        }
        .FormLogin_Group{
            .FormLogin_input{
                width: 300px;
                margin: 30px 0;
                height: 50px;
                position: relative;
                .FormLogin_inputNameForm{
                    width: 100%;
                    height: 36px;
                    outline: none;
                    border: none;
                    background: transparent;
                    border-bottom: 2px solid #fff;
                }
                .FormLogin_inputPassForm{
                    width: 100%;
                    height: 36px;
                    outline: none;
                    border: none;
                    background: transparent;
                    border-bottom: 2px solid #fff;
                }
                label{
                  transform: translateY(-200%);
                  color: #fff;
                  position: absolute;
                  top: 50%;
                  left: 1px;
                }
                
            }
            .FormLoginBtn{
                .FormLoginBtnLog{
                    position: relative;
                    background:#444;
                    color:#fff;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    padding: 10px 30px;
                    transition: 0.5s;   
                    margin:0 12px 0 0;
                    background: transparent;
                    border:none;
                    border: 1px solid #fff;
                    border-radius: 4px;
                    &:hover{
                        letter-spacing: 0.25em;
                        box-shadow: 0 0 35px #4fc3dc;
                    }
                } 
                .FormLoginBtnSig{
                    position: relative;
                    background:#444;
                    color:#fff;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    padding: 10px 30px;
                    transition: 0.5s;   
                    margin:0 12px 0 0;
                    background: transparent;
                    border:none;
                    border: 1px solid #fff;
                    border-radius: 4px;
                    &:hover{
                        letter-spacing: 0.25em;
                        box-shadow: 0 0 35px #4fc3dc;
                    }
                }
                
            }
        }
    }  
}
.bubbles{
    position: relative;
    display: flex;
    span {
        position: relative;
        width: 30px;
        height: 30px;
        background: #4fc3dc;
        margin: 0 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #4fc3dc44,
        0 0 50px #4fc3dc,
        0 0 50px #4fc3dc;
        animation: animate 15s linear infinite;
        animation-duration:calc(125s/var(--random-number)) ;
    }
    span:nth-child(even)
    {
        background: #ff2d75;
        box-shadow: 0 0 0 10px #4fc3dc44,
        0 0 50px #4fc3dc,
        0 0 50px #4fc3dc;
    }
}
@keyframes animate {
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}